.titleBar {
    width: 87%;
    height: 111px;
    background-color: #0f1317;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 75px;
    align-items: center;
    /* margin-left: 7%; */
    font-family: Montserrat;
  }
  
  .title {
    color: white;
    font: normal normal 600;
    font-size: 1em;
    margin-left: 28px;
    letter-spacing: 0px;
  }
  .bgImage{
      height: 100%;
      width: 60%;
  }